<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="ChatBot">EZChat</a>
@*         <button title="Navigation menu" class="navbar-toggler" style="display: contents;" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
 *@    </div>
</div>

@* <input type="checkbox" title="Navigation menu" class="navbar-toggler" /> *@

@* <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()"> *@
<div class="nav-scrollable">

    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Full Chat
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="extract" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Data Extraction
            </NavLink>
        </div>
    </nav>
</div>


@code {
    // private bool collapseNavMenu = true;

    // private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    // private void ToggleNavMenu()
    // {
    //     collapseNavMenu = !collapseNavMenu;
    // }
}
